.img20231021131230 {
  position: absolute;
  top: 452px;
  left: 0px;
  width: 1926px;
  height: 1444px;
  background-image: url("./public/img20231021131230@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.web-1920-1-child {
  position: absolute;
  top: 1442px;
  left: 0px;
  border-radius: 48px;
  background-color: var(--rgb0-0-0);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1935px;
  height: 454px;
  opacity: 0.26;
}
.img-20231022-184200 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1926px;
  height: 1081.8px;
  background-image: url("./public/img-20231022-184200@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.ano {
  position: absolute;
  top: 1256.8px;
  left: 0px;
  width: 1920px;
  height: 313px;
  background-image: url("./public/ano@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.um {
  position: absolute;
  top: 1081.8px;
  left: 0px;
  width: 1920px;
  height: 186px;
  background-image: url("./public/um@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.img-20231022-184200-parent {
  position: absolute;
  top: -11.8px;
  left: 0px;
  width: 1926px;
  height: 1569.8px;
}
.web-1920-1-item {
  position: absolute;
  top: -134px;
  left: 0px;
  background-color: var(--rgb0-0-0);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1923px;
  height: 2030px;
  opacity: 0.25;
}
.welcome-to {
  margin: 0;
}
.welcome-to-brahmaputra {
  margin: 0;
  position: absolute;
  top: 378px;
  left: 349px;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 141px;
  font-weight: 400;
  font-family: inherit;
}
.download-1 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: 119px;
  height: 121px;
  object-fit: cover;
}
.iit-guwahatis-largest {
  position: absolute;
  top: 662.1px;
  left: 349px;
  font-size: 25.9px;
  letter-spacing: 0.01em;
  line-height: 164px;
  font-family: var(--font-lucida-sans);
}
.indian-institute-of {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 179px;
  font-size: 54px;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-family: inherit;
}
.about {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 1489px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 123px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--rgb255-255-255);
  text-align: left;
  display: inline-block;
}
.contact {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 1627px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 123px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--rgb255-255-255);
  text-align: left;
  display: inline-block;
}
.frame-child {
  position: absolute;
  top: 41px;
  left: 0px;
  border-radius: 16px;
  background-color: var(--rgb255-255-255);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.login {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.01em;
  line-height: 123px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: left;
}
.rectangle-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 1785px;
  width: 103px;
  height: 123px;
}
.services-we-provide {
  margin: 0;
  position: absolute;
  top: 1134px;
  left: 717.9px;
  font-size: 50px;
  letter-spacing: 0.01em;
  line-height: 155px;
  font-weight: 400;
  font-family: var(--font-lucida-sans-unicode);
  text-align: center;
}
.web-1920-1-inner {
  position: absolute;
  top: 1206px;
  left: 466px;
  border-top: 2px solid var(--rgb255-255-255);
  box-sizing: border-box;
  width: 220px;
  height: 2px;
}
.line-div {
  position: absolute;
  top: 1206px;
  left: 1234px;
  border-top: 2px solid var(--rgb255-255-255);
  box-sizing: border-box;
  width: 220px;
  height: 2px;
}
.cleaning-service {
  position: absolute;
  top: 184px;
  left: 42px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  line-height: 103px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: left;
}
.book-a-schedule-container {
  position: absolute;
  top: 272.8px;
  left: 56.7px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 23px;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
}
.nopath-copy-5 {
  position: absolute;
  top: 56px;
  left: 77px;
  border-radius: 28px;
  width: 126px;
  height: 131px;
  object-fit: cover;
}
.cleaning-service-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 1389px;
  left: 978px;
  border-radius: var(--br-33xl);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.16);
  width: 279px;
  height: 412px;
  opacity: 0;
}
.cleaning-service-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.nopath-copy {
  position: absolute;
  top: 64px;
  left: 76px;
  border-radius: 82px;
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.canteen-and-mess {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  line-height: 103px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: left;
}
.order-from-canteen-container {
  position: absolute;
  top: 90px;
  left: 6.2px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 25px;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
}
.frame {
  position: absolute;
  top: 182px;
  left: 28px;
  width: 226px;
  height: 165px;
  overflow: hidden;
}
.nopath-copy-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 1389px;
  left: 659px;
  border-radius: var(--br-33xl);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.16);
  width: 279px;
  height: 412px;
  opacity: 0;
}
.nopath-copy-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.raise-an-issue {
  position: absolute;
  top: 180px;
  left: 42px;
  font-size: 28px;
  letter-spacing: 0.01em;
  line-height: 115px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: left;
}
.still-facing-issues-let-container {
  position: absolute;
  top: 275px;
  left: 55.4px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
}
.whatsapp-image-2023-11-08-at-0 {
  position: absolute;
  top: 68px;
  left: 97px;
  width: 86px;
  height: 111px;
  object-fit: cover;
}
.raise-an-issue-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 1389px;
  left: 1296px;
  border-radius: var(--br-33xl);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.16);
  width: 279px;
  height: 412px;
  opacity: 0;
}
.raise-an-issue-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.events {
  margin: 0;
  position: absolute;
  top: 2448px;
  left: 857.3px;
  font-size: 61px;
  letter-spacing: 0.01em;
  line-height: 155px;
  font-weight: 400;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-darkslateblue);
  text-align: center;
}
.path-1-icon {
  position: absolute;
  top: 2524px;
  left: 1063px;
  max-height: 100%;
  width: 218px;
  object-fit: cover;
}
.web-1920-1-child1 {
  position: absolute;
  top: 2523px;
  left: 622px;
  border-top: 2px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 220px;
  height: 2px;
}
.frame-item {
  position: absolute;
  top: 64px;
  left: 104px;
  border-radius: 50%;
  background-color: var(--rgb255-255-255);
  border: 5px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 190px;
  height: 190px;
}
.cultural {
  position: absolute;
  top: 315px;
  left: 140.1px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: center;
}
.be-a-part-container {
  position: absolute;
  top: 385px;
  left: 104.2px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: center;
}
.ellipse-parent {
  cursor: pointer;
  border: 3px solid var(--color-steelblue);
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 2683px;
  left: 334px;
  border-radius: var(--br-58xl);
  box-sizing: border-box;
  width: 398px;
  height: 507px;
  opacity: 0;
}
.ellipse-parent.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.frame-inner {
  position: absolute;
  top: 64px;
  left: 106px;
  border-radius: 50%;
  background-color: var(--rgb255-255-255);
  border: 5px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 190px;
  height: 190px;
}
.sports {
  position: absolute;
  top: 315px;
  left: 154px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: center;
}
.take-part-in-container {
  position: absolute;
  top: 385px;
  left: 122.5px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: center;
}
.ellipse-group {
  cursor: pointer;
  border: 3px solid var(--color-steelblue);
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 2683px;
  left: 753px;
  border-radius: var(--br-58xl);
  box-sizing: border-box;
  width: 398px;
  height: 507px;
  opacity: 0;
}
.ellipse-group.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.technical {
  position: absolute;
  top: 315px;
  left: 128.9px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: center;
}
.know-more-about-container {
  position: absolute;
  top: 385px;
  left: 75.8px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: center;
}
.ellipse-container {
  cursor: pointer;
  border: 3px solid var(--color-steelblue);
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 2683px;
  left: 1171px;
  border-radius: var(--br-58xl);
  box-sizing: border-box;
  width: 398px;
  height: 507px;
  opacity: 0;
}
.ellipse-container.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.image-4-icon {
  position: absolute;
  top: 76px;
  left: 0px;
  width: 971px;
  height: 36px;
  object-fit: cover;
  opacity: 0.14;
}
.frame1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 971px;
  height: 112px;
  overflow: hidden;
}
.frame-icon {
  position: absolute;
  top: 0px;
  left: 91px;
  width: 972px;
  height: 42px;
  overflow: hidden;
  object-fit: cover;
}
.image-2-icon {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 971px;
  height: 36px;
  object-fit: cover;
  opacity: 0.16;
}
.frame2 {
  position: absolute;
  top: 0px;
  left: 175px;
  width: 971px;
  height: 147px;
  overflow: hidden;
}
.image-5-icon {
  position: absolute;
  top: 42px;
  left: 0px;
  width: 972px;
  height: 36px;
  object-fit: cover;
  opacity: 0.07;
}
.frame3 {
  position: absolute;
  top: 0px;
  left: 197px;
  width: 972px;
  height: 78px;
  overflow: hidden;
}
.brahmaputra-hostel-iitg-28-11-icon {
  position: absolute;
  top: 139px;
  left: 0px;
  width: 973px;
  height: 973px;
  object-fit: cover;
  opacity: 0.12;
}
.frame4 {
  position: absolute;
  top: 0px;
  left: 199px;
  width: 973px;
  height: 1112px;
  overflow: hidden;
}
.image-3-icon {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 1149px;
  height: 43px;
  object-fit: cover;
  opacity: 0.12;
}
.frame5 {
  position: absolute;
  top: 0px;
  left: 971px;
  width: 1149px;
  height: 110px;
  overflow: hidden;
}
.image-6-icon {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 1068px;
  height: 39px;
  object-fit: cover;
  opacity: 0.07;
}
.frame6 {
  position: absolute;
  top: 0px;
  left: 1050px;
  width: 1068px;
  height: 69px;
  overflow: hidden;
}
.image-1-icon {
  position: absolute;
  top: 103px;
  left: 0px;
  width: 972px;
  height: 36px;
  object-fit: cover;
  opacity: 0.21;
}
.frame7 {
  position: absolute;
  top: 0px;
  left: 1146px;
  width: 972px;
  height: 139px;
  overflow: hidden;
}
.brahmaputra-hostel-iitg-28-11-icon1 {
  position: absolute;
  top: 139px;
  left: 0px;
  width: 971px;
  height: 971px;
  object-fit: cover;
  opacity: 0.12;
}
.frame8 {
  position: absolute;
  top: 0px;
  left: 1172px;
  width: 971px;
  height: 1110px;
  overflow: hidden;
}
.image-7-icon {
  position: absolute;
  top: 0px;
  left: 1172px;
  width: 971px;
  height: 36px;
  object-fit: cover;
  opacity: 0.03;
}
.x1 {
  position: absolute;
  top: 2381px;
  left: -214px;
  width: 2143px;
  height: 1112px;
  opacity: 0.65;
}
.be-a-part1 {
  margin: 0;
  position: absolute;
  top: 127px;
  left: 346.8px;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: inherit;
}
.buy-merch {
  position: absolute;
  top: 18px;
  left: 57.2px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-roboto);
  color: #2d2aa9;
  text-align: center;
}
.frame9 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.88);
  position: absolute;
  top: 343px;
  left: 346.6px;
  border-radius: 33px;
  width: 258px;
  height: 75px;
  overflow: hidden;
}
.merch {
  position: absolute;
  top: 1867px;
  left: 0px;
  width: 1920px;
  height: 514px;
  background-image: url("./public/merch@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 101px;
  color: var(--rgb255-255-255);
  font-family: var(--font-oswald);
}
.nopath-copy1 {
  position: absolute;
  top: 3361px;
  left: -8px;
  background-color: #eee;
  width: 1937px;
  height: 577px;
}
.nopath-copy2 {
  position: absolute;
  top: 3468px;
  left: 332px;
  width: 150px;
  height: 151px;
  object-fit: cover;
}
.nopath-copy-6 {
  position: absolute;
  top: 74px;
  left: 88px;
  border-radius: 113px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.sport-equipments {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.01em;
  line-height: 95px;
  font-family: var(--font-lucida-sans-unicode);
  color: var(--color-steelblue);
  text-align: left;
}
.issue-sport-equipment-container {
  position: absolute;
  top: 82px;
  left: 17px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  width: 175px;
  height: 105px;
}
.frame10 {
  position: absolute;
  top: 188px;
  left: 36px;
  width: 202px;
  height: 215px;
  overflow: hidden;
}
.nopath-copy-6-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--rgb255-255-255);
  position: absolute;
  top: 1389px;
  left: 340px;
  border-radius: var(--br-33xl);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.16);
  width: 279px;
  height: 412px;
  opacity: 0;
}
.nopath-copy-6-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.web-1920-1 {
  position: relative;
  background-color: var(--rgb255-255-255);
  width: 100%;
  height: 3938px;
  overflow: hidden;
  text-align: left;
  font-size: 119px;
  color: var(--rgb255-255-255);
  font-family: var(--font-oswald);
}
