body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-lucida-sans-unicode: "Lucida Sans Unicode";
  --font-oswald: Oswald;
  --font-lucida-sans: "Lucida Sans";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-4xl: 23px;
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-5xl: 24px;

  /* Colors */
  --rgb255-255-255: #fff;
  --color-steelblue: #55699c;
  --color-darkslateblue: #2f416e;
  --color-dimgray: #707070;
  --rgb0-0-0: #000;

  /* Border radiuses */
  --br-33xl: 52px;
  --br-58xl: 77px;
}
